# --- VS Code & System Clutter ---
.vscode/
.DS_Store
Thumbs.db

# --- Compiled Executables (Windows) ---
*.exe

# --- MSVC Build Artifacts & Intermediate Files ---
*.obj
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.idb
vc140.pdb

# --- Build & Output Directories ---
[Bb]uild/
[Bb]in/
[Oo]bj/
out/